/* line 2, sass/alphenhotel-ozon.scss */
.renter-box-holder {
  position: relative;
  z-index: 999;
}

/* line 7, sass/alphenhotel-ozon.scss */
.renter-box h1 {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: white;
}
/* line 14, sass/alphenhotel-ozon.scss */
.renter-box .fusion-button-wrapper {
  text-align: center !important;
}
/* line 18, sass/alphenhotel-ozon.scss */
.renter-box .rent-button {
  width: 50% !important;
  margin: 0 auto;
  border: 5px solid #f1f0eb !important;
  position: relative;
  font-size: 28px;
  padding: 25px;
  -webkit-box-shadow: 0 0 40px -10px #1b8c85;
  -moz-box-shadow: 0 0 40px -10px #1b8c85;
  box-shadow: 0 0 40px -10px #1b8c85;
}
/* line 29, sass/alphenhotel-ozon.scss */
.renter-box .rent-button:before {
  position: absolute;
  content: "";
  top: -50px;
  border-style: solid;
  border-width: 25px;
  border-color: transparent transparent #f1f0eb transparent;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 44, sass/alphenhotel-ozon.scss */
.room-rent-container {
  background: #ffffff;
  border: 5px solid #e2e0d7;
  min-height: 500px;
  padding: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
/* line 53, sass/alphenhotel-ozon.scss */
.room-rent-container h1 {
  font-size: 38px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  text-align: center;
}
/* line 60, sass/alphenhotel-ozon.scss */
.room-rent-container h2 {
  font-size: 18px !important;
  text-align: center;
  color: #5c5c5c;
}
/* line 66, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper {
  margin: 0 auto;
}
/* line 69, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper h3 {
  color: black;
  margin: 25px 0 10px 0;
  text-align: center;
}
/* line 74, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper h3 .stn {
  background: #f0d64d;
  width: 32px;
  height: 32px;
  line-height: 30px;
  margin: 5px auto;
  font-size: 20px;
  color: #ffffff;
  border-radius: 40px;
}
/* line 85, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder {
  display: flex;
  flex-wrap: wrap;
}
/* line 89, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input {
  padding: 0 15px 5px 15px;
  flex-basis: 25%;
}
/* line 93, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input label {
  color: #737373;
  font-size: 13px;
  font-style: italic;
}
/* line 103, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox],
.room-rent-container .room-rent-wrapper .input-holder .input input[type=text],
.room-rent-container .room-rent-wrapper .input-holder .input input[type=number],
.room-rent-container .room-rent-wrapper .input-holder .input select,
.room-rent-container .room-rent-wrapper .input-holder .input textarea {
  width: 100%;
  display: block;
  line-height: 40px;
  padding: 0 10px;
  height: auto;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #dadada;
  color: #127a6f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 117, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox].missing,
.room-rent-container .room-rent-wrapper .input-holder .input input[type=text].missing,
.room-rent-container .room-rent-wrapper .input-holder .input input[type=number].missing,
.room-rent-container .room-rent-wrapper .input-holder .input select.missing,
.room-rent-container .room-rent-wrapper .input-holder .input textarea.missing {
  border: 1px solid red;
}
/* line 122, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox] {
  display: none;
}
/* line 126, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox] + label {
  width: 42px;
  height: 42px;
  margin: 0;
  background: #fff;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  position: relative;
}
/* line 139, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox] + label:before {
  content: "\f00d";
  font-size: 28px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'FontAwesome';
  right: 0;
  width: 40px;
  text-align: center;
  color: #e2e2e2;
  font-style: normal;
}
/* line 155, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox]:checked + label {
  background: #4f7838;
}
/* line 157, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input input[type=checkbox]:checked + label:before {
  content: "\f00c";
  color: white;
}
/* line 163, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input select {
  width: 100%;
  height: 42px;
}
/* line 169, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.date_from, .room-rent-container .room-rent-wrapper .input-holder .input.date_to {
  flex-basis: 50%;
  position: relative;
}
/* line 173, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.date_from input[type=text].datepicker, .room-rent-container .room-rent-wrapper .input-holder .input.date_to input[type=text].datepicker {
  text-align: center;
  font-size: 26px;
  line-height: 50px;
  cursor: pointer;
  padding-right: 35px;
}
/* line 181, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.date_from:after, .room-rent-container .room-rent-wrapper .input-holder .input.date_to:after {
  content: "\f073";
  position: absolute;
  right: 15px;
  top: 31px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-family: 'FontAwesome';
  line-height: 40px;
  text-align: center;
  pointer-events: none;
}
/* line 196, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.contact_msg {
  flex-basis: 100%;
}
/* line 200, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.send-mail {
  flex-basis: 100%;
  text-align: center;
  padding: 15px 0;
}
/* line 205, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.send-mail button {
  background: #127a6f;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
/* line 214, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.send-mail button.in-progress {
  background: #f0d64d;
}
/* line 217, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.send-mail button.sended {
  background: #4f7838;
}
/* line 223, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper .input-holder .input.input-label {
  flex-basis: 100%;
}
/* line 230, sass/alphenhotel-ozon.scss */
.room-rent-container .room-rent-wrapper.date-container {
  width: 60%;
}

/* line 236, sass/alphenhotel-ozon.scss */
.ui-widget-header {
  background: #f0d64d;
  border: 1px solid #eccb1e;
  color: #463d10;
}

/* line 241, sass/alphenhotel-ozon.scss */
.ui-state-default, .ui-widget-content .ui-state-default {
  color: #4f7838;
}

/* line 244, sass/alphenhotel-ozon.scss */
#ui-datepicker-div {
  margin-top: -33px;
}

/* line 248, sass/alphenhotel-ozon.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #e2e2e2;
  font-weight: normal;
}

/* line 252, sass/alphenhotel-ozon.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e2e2e2;
  font-weight: normal;
  opacity: 1;
}

/* line 257, sass/alphenhotel-ozon.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e2e2e2;
  font-weight: normal;
  opacity: 1;
}

/* line 262, sass/alphenhotel-ozon.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e2e2e2;
  font-weight: normal;
}

@media all and (max-width: 800px) {
  /* line 268, sass/alphenhotel-ozon.scss */
  .room-rent-container .room-rent-wrapper .input-holder .input {
    flex-basis: 100%;
  }

  /* line 271, sass/alphenhotel-ozon.scss */
  .room-rent-container .room-rent-wrapper.date-container {
    width: 100%;
  }

  /* line 275, sass/alphenhotel-ozon.scss */
  .room-rent-container .room-rent-wrapper .input-holder .input.date_to input[type=text].datepicker,
  .room-rent-container .room-rent-wrapper .input-holder .input.date_from input[type=text].datepicker {
    font-size: 20px;
  }
}
