/* line 2, sass/alphenhotel-ozon.scss */
.renter-box-holder {
  position: relative;
  z-index: 999;
}

/* line 6, sass/alphenhotel-ozon.scss */
.renter-box {
  background: rgba(236, 210, 69, 0.98);
  color: black;
  outline: 5px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 30px 50px -25px #4e4c42;
  -moz-box-shadow: 0 30px 50px -25px #4e4c42;
  box-shadow: 0 30px 50px -25px #4e4c42;
}
/* line 14, sass/alphenhotel-ozon.scss */
.renter-box h2 {
  text-align: center;
  margin: 0;
  background: #00c3af;
  padding: 15px 0;
  color: white;
}

/* Angular Datepicker*/
/* line 23, sass/alphenhotel-ozon.scss */
.md-datepicker-calendar-pane {
  z-index: 9999;
  position: absolute;
}

/* line 29, sass/alphenhotel-ozon.scss */
.rent-datepicker {
  padding: 0 25px 15px 25px;
}
/* line 32, sass/alphenhotel-ozon.scss */
.rent-datepicker .md-datepicker-input {
  font-size: 24px;
  padding: 10px 10px 10px 50px;
}
/* line 36, sass/alphenhotel-ozon.scss */
.rent-datepicker .md-datepicker-triangle-button {
  top: 18px;
}
/* line 39, sass/alphenhotel-ozon.scss */
.rent-datepicker .md-datepicker-input-container {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 24px;
}
/* line 45, sass/alphenhotel-ozon.scss */
.rent-datepicker .md-button {
  position: absolute;
  z-index: 1000;
  line-height: 53px;
  height: 53px;
  width: 53px;
  margin: 0;
}
/* line 53, sass/alphenhotel-ozon.scss */
.rent-datepicker md-datepicker {
  background: #fff;
  padding-left: 0;
  display: block;
}
/* line 59, sass/alphenhotel-ozon.scss */
.rent-datepicker .picker-holder {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
/* line 65, sass/alphenhotel-ozon.scss */
.rent-datepicker .picker-holder .picker {
  flex-grow: 1;
  position: relative;
}
/* line 69, sass/alphenhotel-ozon.scss */
.rent-datepicker .picker-holder .picker .title {
  font-family: 'Bookman Old Style', serif;
  text-align: left;
  font-size: 18px;
  padding: 5px 0;
}
/* line 76, sass/alphenhotel-ozon.scss */
.rent-datepicker .picker-holder .picker-separator {
  font-size: 59px;
  padding: 0 25px;
  margin-top: 26px;
  color: #fff;
}
/* line 84, sass/alphenhotel-ozon.scss */
.rent-datepicker .search-btn {
  padding: 54px 0 0 25px;
}
/* line 86, sass/alphenhotel-ozon.scss */
.rent-datepicker .search-btn button {
  background: #127a6f;
  padding: 0 15px;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}
