@import 'settings';
.renter-box-holder {
    position: relative;
    z-index: 999;
}
.renter-box {
    background:rgba(236, 210, 69, 0.98);
    color: black;
    outline: 5px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 30px 50px -25px #4e4c42;
    -moz-box-shadow: 0 30px 50px -25px #4e4c42;
    box-shadow: 0 30px 50px -25px #4e4c42;

    h2 {
        text-align: center;
        margin: 0;
        background: #00c3af;
        padding: 15px 0;
        color: white;
    }
}
/* Angular Datepicker*/
.md-datepicker-calendar-pane{
    z-index: 9999;
    position: absolute;
}


.rent-datepicker{
    padding: 0 25px 15px 25px;

    .md-datepicker-input {
        font-size: 24px;
        padding: 10px 10px 10px 50px;
    }
    .md-datepicker-triangle-button {
        top: 18px;
    }
    .md-datepicker-input-container{
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: 24px;
    }
    .md-button{
        position: absolute;
        z-index: 1000;
        line-height: 53px;
        height: 53px;
        width: 53px;
        margin: 0;
    }
    md-datepicker {
        background: #fff;
        padding-left: 0;
        display: block;
    }

    .picker-holder {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        .picker {
            flex-grow: 1;
            position: relative;

            .title {
                font-family: 'Bookman Old Style', serif;
                text-align: left;
                font-size: 18px;
                padding: 5px 0;
            }
        }
        .picker-separator {
           font-size: 59px;
            padding: 0 25px;
            margin-top: 26px;
            color: #fff;
        }
    }

    .search-btn {
        padding: 54px 0 0 25px;
        button {
            background: $color-darkgreen;
            padding: 0 15px;
            height: 58px;
            line-height: 58px;
            font-size: 22px;
            color: white;
            border: none;
            width: 100%;
            cursor: pointer;
        }
    }
}

.room-rent-container{
  background: #ffffff;
  min-height: 500px;
  padding: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  h1 {
    font-size: 38px !important;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    text-align: center;
  }
  h2 {
    font-size: 18px !important;
    text-align: center;
    color: #5c5c5c;
  }

  .room-rent-wrapper {
    margin: 0 auto;

    h3 {
      color: black;
      margin: 25px 0 10px 0;
      text-align: center;

      .stn {
        background: $color-yellow;
        width: 32px;
        height: 32px;
        line-height: 30px;
        margin: 5px auto;
        font-size: 20px;
        color: #ffffff;
        border-radius: 40px;
      }
    }
    .input-holder {
      display: flex;
      flex-wrap: wrap;

      .input{
        padding: 0 15px 5px 15px;
        flex-basis: 25%;

        label {
          color: #737373;
          font-size: 13px;
          font-style: italic;
        }

        input[type=checkbox],
        input[type=text],
        input[type=number],
        select,
        textarea {
          width: 100%;
          display: block;
          line-height: 40px;
          padding: 0 10px;
          height: auto;
          font-weight: bold;
          font-size: 15px;
          border: 1px solid #dadada;
          color: #127a6f;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }

        input[type=checkbox]{
          display: none;
        }

        input[type=checkbox] + label{
          width: 42px;
          height: 42px;
          margin: 0;
          background: #fff;
          border: 1px solid #d7d7d7;
          cursor: pointer;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          display: block;
          position: relative;

          &:before {
            content: "\f00d";
            font-size: 28px;
            line-height: 40px;
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'FontAwesome';
            right: 0;
            width: 40px;
            text-align: center;
            color: #e2e2e2;
            font-style: normal;
          }
        }

        input[type=checkbox]:checked + label{
          background: $color-green;
          &:before {
            content: "\f00c";
            color: white;
          }
        }

        select {
          width: 100%;
          height: 42px;
        }

        &.date_from,
        &.date_to {
          flex-basis: 50%;
          position: relative;

          input[type=text].datepicker {
            text-align: center;
            font-size: 26px;
            line-height: 50px;
            cursor: pointer;
            padding-right: 35px;
          }

          &:after {
            content: "\f073";
            position: absolute;
            right: 15px;
            top: 31px;
            width: 40px;
            height: 40px;
            font-size: 22px;
            font-family: 'FontAwesome';
            line-height: 40px;
            text-align: center;
            pointer-events: none;
          }
        }

        &.contact_msg{
          flex-basis: 100%;
        }

        &.input-label{
          flex-basis: 100%;
        }
      }
    }


    &.date-container{
      width: 60%;
    }
  }
}

.ui-widget-header{
  background: $color-yellow;
  border: 1px solid darken($color-yellow, 10%);
  color: #463d10;
}
.ui-state-default, .ui-widget-content .ui-state-default{
  color: $color-green;
}
#ui-datepicker-div{
  margin-top: -33px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #e2e2e2;
  font-weight: normal;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #e2e2e2;
  font-weight: normal;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #e2e2e2;
  font-weight: normal;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e2e2e2;
  font-weight: normal;
}
